!!!
= content_for :path do
  .small
    %a{ href: root_path }
      = Settings.site_name
    >>
    = "Search Results"
%p
  %h1
    = "Search Results for #{@query}"
  .content_wrapper
    - if @template_groups.empty?
      %h2
        No results found
    - @template_groups.each do |lib, templates|
      %h2
        %a{ href: lib.endpoint }
          = "#{lib.title}/"
      .indented
        - templates.each do |template|
          %a{ href: '/' + template.file_path }
            = template.name
          %br
          - if template.title
            .indented
              = "#{template.title}"
          - if template.param.length > 0
            .indented
              = "(ex: #{template.param.map{ |p| p[:default] }.join(', ')})"
          %br
