!!!
= content_for :path do
  .small
    %a{ href: Settings.spang_home }
      = Settings.site_name
    >>
    %a{ href: "#{root_path}library" }
      = "Library"
    >>
    = @library.title
%p
  %h1
    = "SPARQL library for #{@library.title}"
  .content_wrapper
    - if @library.schema&.length > 0
      %a.link_title{ href:  @library.schema }
        = "#{@library.title} RDF schema"
      %br
    - if @library.endpoint&.length > 0
      %br
      %a.link_title{ href:  @library.endpoint }
        = "#{@library.title} SPARQL endpoint"
      %br
    %h2
      Select SPARQL template

    - @library.templates.each do |template|
      %a{ href: '/' + template.file_path}
        = template.name
      %br
      - if template.title
        .indented
          = "#{template.title}"
      - if template.param.length > 0
        .indented
          = "(ex: #{template.param.map{ |p| p[:default] }.join(', ')})"
      %br
