!!!
- content_for :header do
  %script{:src => "/codemirror-5.30.0/lib/codemirror.js"}
  %link{:href => "/codemirror-5.30.0/lib/codemirror.css", :rel => "stylesheet"}
  %script{:src => "/codemirror-5.30.0/mode/sparql/sparql.js"}
  %script{:src => "/codemirror-5.30.0/addon/edit/matchbrackets.js", :type => "text/javascript"}
  %script{:src => "/codemirror-5.30.0/addon/edit/closebrackets.js", :type => "text/javascript"}
  %script{:src => "/js/sparql-support.js", :type => "text/javascript"}
  %style{:src => "/codemirror-5.30.0/mode/sparql/sparql.js"}
  = javascript_include_tag('library/show_template.js', 'data-turbolinks-track': 'reload')
  :css
    .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}

- content_for :path do
  .small
    %a{ href: Settings.spang_home }
      = Settings.site_name
    >>
    %a{ href: "#{root_path}library" }
      = "Library"
    >>
    %a{ href: library_path(@template.library.name) }
      = @template.library.title
    >>
    = @template.name


%h2 Execute SPARQL query
%form
  - if @template.endpoint.length > 0
    = "Endpoint: #{@template.library.title} ( "
    %a{ href: @template.endpoint }
      =  @template.endpoint
    )
  %textarea#code{ name: 'code', 'data-endpoint': @template.endpoint }
    = @template.query
- if @template.endpoint.length > 0
  %button#submit_button_query{ type: "button" }
    Exec
